#mntitle{
    font-size: large;
}

#mug {
    background-color: grey;
    border-radius: 25px;
}

#sofa {
    background-color: grey;
    border-radius: 25px;
}

#cupboard {
    background-color: grey;
    border-radius: 25px;
}

#curtain {
    background-color: grey;
    border-radius: 25px;
}

#dog {
    background-color: grey;
    border-radius: 25px;
}

#door {
    background-color: grey;
    border-radius: 25px;
}

#lamp {
    background-color: grey;
    border-radius: 25px;
}

#light {
    background-color: grey;
    border-radius: 25px;
}

#plant {
    background-color: grey;
    border-radius: 25px;
}

#tv {
    background-color: grey;
    border-radius: 25px;
}

